<app-header></app-header>

<div class="account">
    <div class="navigation-container">
        <div class="greeting">
            <mat-icon>account_circle</mat-icon>
            <h3>Hi, Miljan Sjekloca</h3>
        </div>
        <div class="navigation-list">
            <ul>
                <li routerLinkActive='active-parent' routerLink="/account/profile"><a>Personal Info</a></li>
                <li routerLinkActive='active-parent' routerLink="/account/create-recipe"><mat-icon>receipt</mat-icon><a>Create recipe</a></li>
                <li routerLinkActive='active-parent'><mat-icon>favorite</mat-icon><a routerLink="/saved-recipes">Favorite recipes</a></li>
                <li routerLinkActive='active-parent'><mat-icon>receipt_long</mat-icon><a routerLink="/personal-recipes">Personal recipes</a></li>
                <li routerLinkActive='active-parent'><mat-icon>reviews</mat-icon><a routerLink="/saved-recipes">Reviews recipes</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>

<app-footer></app-footer>