<div class="container">
    <div class="inner-container">
        <div class="form-container">
            <header>
                <h2>{{ authMode==="login" ? "Login" : "Register"}}</h2>
                <p>Unlock your inner chef!</p>
                <p>Make your own recipes and share your feedback</p>
                <div id="error" *ngIf="error">
                    <mat-icon id="error">error</mat-icon><p>{{ error }}</p>
                </div>
            </header>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" (change)="removeErrorMessage()">
                <div *ngIf="authMode == 'register'" class="user-register-container">
                    <div class="input-container">
                        <mat-icon>person</mat-icon>
                        <input 
                        name="firstName"
                        type="text"
                        required
                        minlength="2"
                        ngModel
                        #firstName="ngModel"
                        placeholder="First Name"
                        >
                    </div>
                    <div class="input-container">
                        <mat-icon>account_circle</mat-icon>
                        <input 
                        name="lastName"
                        type="text"
                        required
                        minlength="2"
                        ngModel
                        #lastName="ngModel"
                        placeholder="Last Name"
                        >
                    </div>
                </div>
                <div class="input-container">
                    <mat-icon>mail</mat-icon>
                    <input type="email"
                    name="email"
                    required
                    email
                    #email="ngModel"
                    ngModel
                    placeholder="Email"
                    >
                </div>
                <div class="input-container">
                    <mat-icon>lock</mat-icon>
                    <input type="password"
                    name="password"
                    required
                    ngModel
                    #password="ngModel"
                    minlength="8"
                    placeholder="Password"
                    >
                </div>
                <div class="error-container">
                    <span *ngIf="password.touched && password.invalid">*Password needs 8 characters </span>
                    <span *ngIf="email.touched && email.invalid">*Invalid email format </span>
                </div>
                <div class="button-container">
                    <button type="submit" [disabled]="!f.valid"
                    >{{ authMode==="login" ? "Login" : "Register" }} Now
                    </button>
                    <button type="button" (click)="navigateBack()">Return To Recipes</button>
                </div>
                <button type="button" class="change-mode"
                (click)="changeAuthMode()"
                >{{ authMode==="login" ? "Create Your Account" : "Already have an account" }}</button>
            </form>
        </div>
        <div class="image-container">
            <img src="https://pupcakesugar.com/wp-content/uploads/2023/09/Blog-Post-Recipe-Picture-Sweet-Potato-Peanut-Butter-Pupcakes-500x500.png" alt="Food-Image">
        </div>
    </div>
</div>
