.container{
    display:flex;
    background: linear-gradient(0deg, rgb(226, 212, 252), rgb(201, 219, 255) 50%, rgb(226, 212, 252));
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}

.inner-container{
    display:flex;
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
    flex-wrap: wrap;
    box-shadow: 1px 1px 30px black;
}  

.inner-container > .form-container{
    display:flex;
    flex:1;
    flex-direction: column;
    padding:2rem;
    min-width: 300px;
    gap:1rem;
}

header{
    display:block;
    text-align: center;
    font-weight: 500;
}

header > h2{
    letter-spacing: 0.5rem;
    font-family:'Sedan',serif;
    margin:1rem 0;
}

header > p{
    color:black;
    opacity:0.6;
    margin:0.5rem;
}


form > .input-container{
    display:flex;
    padding:1rem 0rem 1rem 1rem;
    background-color: rgb(226, 212, 252);
    border-radius:1rem;
    margin:1rem 1rem;
    align-items: center;
}

input{
    padding:0.5rem;
    border:none;
    outline:none;
    font-weight: 500;
    font-size:1.2rem;
    background-color: transparent;
    color:black;
    width:100%;
}


.inner-container > .image-container{
    display:flex;
    flex:1;
    min-width: 300px;
}

.inner-container > .image-container > img {
    width:100%;
    height:100%;
}


.button-container{
    display:flex;
    justify-content: center;

}

button{
    padding:0.8rem 1.6rem;
    font-weight: 500;
    border:none;
    border:1px solid transparent;
    background: linear-gradient(to right,rgb(151, 186, 255),rgb(201, 219, 255),rgb(226, 212, 252));
    margin:1rem;
    border-radius:0.5rem;
}

button:hover{
    opacity:0.8;
    box-shadow: 0 0 3px black;
    cursor: pointer;
}

span{
    display:flex;
    justify-content: center;
    color:gray;
}

button.change-mode{
    display:flex;
    margin:auto;
}
