<app-header></app-header>
<app-not-found [visible]="!recipe"></app-not-found>
<div *ngIf="recipe" class="container">
    <div class="navigation">
        <a routerLink="/">
            <mat-icon>keyboard_double_arrow_left</mat-icon>
            Recipes
            <mat-icon>keyboard_double_arrow_right</mat-icon>
        </a>
        <a *ngFor="let tag of recipe.tags" routerLink="/tag/{{tag.toLowerCase()}}">
            <mat-icon>keyboard_double_arrow_left</mat-icon>
            {{ tag }}
            <mat-icon>keyboard_double_arrow_right</mat-icon>
        </a>
    </div>
    <div class="title">
        <p>{{recipe.title }}</p>
        <p>made by</p>
        <p>{{ recipe.owner }}</p>
    </div>
    <div class="top-content">
        <div class="image-container">
            <img [src]="recipe.imageUrl" [alt]="recipe.title">
            <button  *ngIf="(this.user?.id !== this.recipe.userId) && !savedRecipe" (click)="addToFavorite(this.recipe.id)">
                <mat-icon class="center-icon">favorite</mat-icon>
                <p>S A V E </p>
            </button>
        </div>
        <div class="description">
            <h3>Description</h3><p>{{ recipe.description }}</p>
            <h3>Preparation time</h3><p>Preparation time: {{ recipe.prepTime }} mins</p>
            <div *ngIf="recipe.cookTime">
                <h3>Cook time</h3><p>Cook time: {{ recipe.cookTime }} mins</p>
            </div>
            <div *ngIf="recipe.cuisine">
                <h3>Cousine</h3><p>{{ recipe.cuisine }}</p>  
            </div>
            <div *ngIf="recipe.servings">
                <h3>Servings</h3><p>Servings for {{ recipe.servings }}</p>  
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="ingredients">
            <h3>Ingredients</h3>
            <ul class="k">
                <li *ngFor="let ingredient of recipe.ingredients">
                    {{ ingredient }}
                </li>
            </ul>
        </div>
        <div class="directions">
            <h3>Directions</h3>
            <div class="steps" *ngFor="let step of recipe.steps;let i = index;">
                <h4>Step {{ i + 1 }}:</h4>
                <p>{{ step }}</p>
            </div>
        </div>
    </div>
    <p class="page-divider">Comments And Ratings</p>
    <div class="review">
        <h3>{{recipe.owner}}</h3>
        <h3 id="title">{{recipe.title}}</h3>
        <div *ngIf="!userHaveRated && user?.id !== recipe.userId; else alreadyRated">
            <h4>Your rating</h4>
            <div class="rating">
                <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]" [ngClass]="{ 'filled': star <= clickedStarIndex }"
                (click)="onStarClicked(star)">grade</mat-icon>
                <span *ngIf="clickedStarIndex >= 1">{{ ratingText }}</span>
            </div>
        </div>
        <ng-template #alreadyRated> <h4 *ngIf="userHaveRated" class="alreadyRated"> Thank you for rating this recipe </h4> </ng-template>
        
        <!-- to be done -->
        <h4>Your review</h4>
            <textarea cols="65" rows="4" maxlength="250" placeholder="What did you think about this recipe?"
            [(ngModel)]="comment"></textarea>
            <div class="comment-buttons">
                <button type="button" (click)="comment = '';clickedStarIndex = 0">Cancel</button> 
                <button type="submit" [disabled]="!clickedStarIndex && !comment || !user" (click)="onSubmit(clickedStarIndex,comment)">Submit</button>
            </div>
        <div *ngIf="recipe.reviews" class="review-container">
            <div *ngFor="let review of recipe.reviews.slice().reverse().slice(0, recipesCommentNumber)" class="comments">
                <div class="comment">
                    <div class="comments-header">
                        <h4>{{review.by}}</h4>
                        <div *ngIf="review.rating">
                            <star-rating  [starRating]="review.rating"></star-rating>
                        </div>
                    </div>
                    <p *ngIf="review.commentText">{{review.commentText}}</p>
                    <div class="likes" *ngIf="review.commentText">
                        <mat-icon
                        class="thump_up"
                        [ngClass]="{'liked': likedReviews[review.id]}" 
                        (click)="handleLikeClick(review)">
                        thumb_up
                        </mat-icon> 
                        <p>{{ review.likes?.length}}</p>
                    </div>
                </div>
            </div>
            <button type="button" (click)="recipesCommentNumber = recipesCommentNumber + 2" *ngIf="recipe.reviews.length > recipesCommentNumber">Load more comments</button>
            <button type="button" (click)="recipesCommentNumber = 2" *ngIf="recipe.reviews.length <= recipesCommentNumber && recipesCommentNumber > 2">Show less</button>
        </div>
    </div>


</div> 

<app-tooltip *ngIf="this.alertVisible" [message]="this.alertMessage" [messageType]="this.alertType"></app-tooltip>

