.container{
    background: linear-gradient(0deg, rgb(254, 243, 232), rgb(252, 232, 212) 30%, rgb(252, 252, 252));
    padding-bottom: 2rem;
}


.navigation{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation > a {
    display:flex;
    align-items: center;
    margin:1rem;
    font-size:1.3rem;
    color:rgb(1, 61, 61);
    font-weight: 500;
}

.navigation > a:hover{
    color:darkred;
}

.title{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:1rem;
    font-size: 2rem;
    font-weight: bold;
    flex-wrap: wrap;
    color:darkred;
    text-align: center;
}

.title > p {
    margin:0.3rem;
}

.top-content{
    display:flex;
}

.top-content > .image-container{
    display:flex;
    flex:50%;
    justify-content: center;
    padding:1rem 0rem;
    align-items: center;
}

.top-content > .image-container > img{
    border-radius:10%;
    width:70%;
    max-width: 350px;
    max-height: 400px;
    box-shadow: 5px 5px 10px rgb(0, 24, 24);
}

.top-content > .description {
    color:rgb(1, 30, 30);
    position:relative;
    display:flex;
    flex:45%;
    flex-direction: column;
    word-wrap: break-word;
    font-size:1.2rem;
    padding:1rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.top-content > .description > div > p,
.top-content > .description > p{
    margin:1rem 0.5rem; 
}

 h3{
    display:flex;
    justify-content: center;
}


.main-content{
    margin-top:0.5rem;
    display:flex;
    padding:1rem;
    flex-wrap: wrap;
    align-items: start;
    word-wrap: break-word;
    justify-content: center;
}

/*  Ingredients  */

.main-content > .ingredients{
    font-size: 1.2rem;
    padding:0 5rem;
    display:flex;
    flex-direction: column;
    border-radius: 10%;
    min-width: 270px;
}

.main-content > .ingredients > ul > li {
    list-style: disc;
    margin:1rem 0;
}

/*  Directions  */

.main-content > .directions{
    display:flex;
    flex-direction: column;
    flex:1;
    min-width: 300px;
    gap:0.3rem;
}

.main-content > .directions > h3,
.main-content > .ingredients > h3 {
    font-size: 1.5rem;
    margin:1rem 0;
}

.main-content > .directions > div > p{
    margin:0.4rem;
    word-wrap: break-word;
}

.page-divider{
    text-align: center;
    font-size: 2rem;
    margin-top:0.5rem;
    margin-bottom:5rem;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 1rem;
    line-height: 3rem;
}

/*   Review  */

.review{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:1.5rem;
    border: 0.3rem solid darkred;
    border-radius:10%;
    max-width: fit-content;
    margin:auto;
    word-wrap: break-word;
    box-shadow: 2px 0px 40px rgb(0, 24, 24);
    gap:0.5rem;
}


.review > textarea {
    resize: none;
    height:5rem;
    padding:1rem;
    max-width:450px;
    border-radius:0.5rem;
    outline:none;
    border:none;
    font-weight: 500;
    font-size: 1rem;
    background: rgb(255, 255, 255,0.8);
}

.review > h3#title{
    display:flex;
    font-size:2rem;
    margin-bottom: 0.7rem;
    text-align: center;
    max-width: 450px;
}

.review > p {
    margin-left:0.3rem;
    line-height: 1.4rem;
}

button{
    padding:1rem;
    background-color: rgb(255, 255, 255,0.8);
    border:1px solid transparent;
    margin:0.5rem;
    border-radius: 1rem;
    float: inline-end;
    font-size: 1rem;
 
}

button:hover{
    border:1px solid darkred;
}

div.rating{
    display:flex;
    align-items: center;
    gap:0.5rem;
    margin-bottom:0.5rem;
}

div.rating > span {
    font-weight: 500;
}

div.rating > mat-icon{
    cursor: pointer;
}

mat-icon.filled{
    color: darkred;
}

mat-icon.thump_up{
    font-size: 1.2rem;
}

mat-icon.thump_up:hover{
    color: darkred;
    cursor:pointer;
}

mat-icon.thump_up.liked {
    color: darkred;
}


.comments > div > p {
    max-width:400px;
}

.comment{
    padding:0.5rem;
    margin:0.5rem;
}

.comments-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0rem;
}

.comments-header > h4{
    color:darkred;
}

.likes{
    display:flex;
    margin:1rem 0rem;
}

.review-container{
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* custom scrolbar */

::-webkit-scrollbar{
    width:0.6rem;
}

::-webkit-scrollbar-track{
    background:transparent;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(0, 67, 67);
    border-radius: 1rem;
}

h4.alreadyRated{
    margin-bottom: 1rem;
}


@media screen and (max-width:650px){
    .main-content > .ingredients{
        padding:0 1rem;
        margin-bottom:1rem;
    }
}

@media screen and (max-width:850px){
    .top-content{
        display:flex;
        flex-direction: column;
    }

    .top-content > .description {
        margin-top: 1.5rem;
    }

    .top-content > .description > div > p,
    .top-content > .description > p{
        text-align: center;
    }

}