.navigation{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation > a {
    display:flex;
    align-items: center;
    margin:1rem;
    font-size:1.3rem;
}



.navigation > a:hover{
    color:red;
}

.title{
    display:flex;
    justify-content: center;
    margin:1rem;
    font-size: 2rem;
    font-weight: bold;
    flex-wrap: wrap;
}

.title > p {
    margin:0.3rem;
}



.main-content{
    display:flex;
    flex-wrap: wrap;
}


.main-content > .image-container{
    display:flex;
    flex:50%;
    justify-content: center;
    padding:1rem 0rem;
    align-items: center;
}

.main-content > .image-container > img{
    border-radius:10%;
    width:70%;
    max-width: 350px;
    max-height: 400px;
    box-shadow: 1px 1px 10px black;
}

.main-content > .description {
    display:flex;
    flex:45%;
    flex-direction: column;
    word-wrap: break-word;
    font-size:1.2rem;
    padding:1rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.main-content > .description > p{
    margin:1rem 0.5rem;
}

h3{
    display:flex;
    justify-content: center;
}