div{
    display:flex;
    flex-direction: column;
    align-items: center; 
    margin:1rem 0;
    gap:1rem;
}

div > img {
    max-width: 320px;
    min-height: 300px;
}


button{
    padding:1em 6rem;
    background-color: black;
    color:white;
    border-radius: 10rem;
    opacity: 1;
    min-width: 300px;
    font-size:1rem;
    font-family:"Quicksand",sans-serif;
}

button:hover{
    box-shadow: none;
    cursor: pointer;
    opacity: 0.7;
}

p{
    color:rgb(18, 0, 0);
    font-size:1.8rem; 
    word-wrap: break-word;
    text-align: center;
    margin-top: 1rem;
}