<div class="header-container">
    
    <ul class="auth-header-list">
        <li><a href="#">My Account</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
    </ul>
    
    <div class="nav-header">

       <h1>Recipes For Succes</h1>
       

        <div class="nav-list">
            <ul>
                <li>
                    <a routerLink="/" class="dropdown">Recipes <mat-icon>expand_circle_down</mat-icon></a>
                    <div class="recipes-dropdown-content">
                        <a routerLink="/tag/breakfast" >Breakfasts</a>
                        <a routerLink="/tag/lunch">Lunchs</a>
                        <a routerLink="/tag/dinner">Dinners</a>
                        <a routerLink="/tag/drink">Drinks</a>
                        <a routerLink="/tag/dessert">Desserts</a>
                    </div>
                </li>

                <li><a href="#" class="dropdown">Nutrition <mat-icon>expand_circle_down</mat-icon></a>
                    <div class="nutrition-dropdown-content">
                        <a href="#">Minerals</a>
                        <a href="#">Foods</a>
                        <a href="#">Vitamins</a>
                    </div>
                </li>

                <li><search-bar></search-bar></li>

                
                <!-- 
                    <li><a href="#">Advices</a></li>
                    <li><a href="#">Couisines</a></li>
                    <li><a href="#">How to create a Recipe</a></li>
                <li><a href="#">About Us</a></li>

                <app-searc></app-search>Search komponenta
                -->
            </ul>
        </div>
    </div>
    
</div>