<div class="header-container">
    
    <ul class="auth-header-list">
        <li><a routerLink="/account">My Account</a></li>
        <li *ngIf="!isAuthenticated"><a routerLink="/auth/login">Login</a></li>
        <li *ngIf="!isAuthenticated"><a routerLink="/auth/register">Register</a></li>
        <li *ngIf="isAuthenticated"><a (click)="onLogout()" id="logout">Logout</a></li>
    </ul>
    
    <div class="nav-header">

       <h1>Recipes For Success</h1>
       

        <div class="nav-list">
            <ul>
                <li>
                    <a routerLink="/" class="dropdown">Recipes <mat-icon>expand_circle_down</mat-icon></a>
                    <div class="recipes-dropdown-content">
                        <a *ngFor="let tag of tags" [routerLink]="['/tag/', tag | lowercase]">{{ tag }}</a>
                    </div>
                </li>

                <li><a routerLink="/nutrition" class="dropdown">Nutrition <mat-icon>expand_circle_down</mat-icon></a>
                    <div class="nutrition-dropdown-content">
                        <a routerLink="/nutrition/minerals">Minerals</a>
                        <a routerLink="/nutrition/ingredients">Ingredients</a>
                        <a routerLink="/nutrition/vitamins">Vitamins</a>
                    </div>
                </li>

                <li><search-bar></search-bar></li>

                
                <!-- 
                    <li><a href="#">Advices</a></li>
                    <li><a href="#">Couisines</a></li>
                    <li><a href="#">How to create a Recipe</a></li>
                <li><a href="#">About Us</a></li>

                <app-searc></app-search>Search komponenta
                -->
            </ul>
        </div>
    </div>
    
</div>