<div *ngIf="user.favoriteRecipes.length === 0 || user.favoriteRecipes.length !== 0 ;">
    <div class="header">
        <div class="header-top">
            <img src="https://png.pngtree.com/png-vector/20231019/ourmid/pngtree-recipe-book-illustration-in-minimal-style-png-image_10274588.png" alt="book-of-recipes">
            <h1>Collection of your favorite recipes</h1>
        </div>
        <p>Welcome to your Favorite Recipes collection! Here, you can explore all the delicious recipes you've saved. Whether you're planning a special meal or just looking for some inspiration, this is your go-to place for all your culinary favorites.</p>
    </div>
    <div class="recipes">
        <div *ngFor="let recipe of recipes;let i = index" class="container">
            <a class="recipe" routerLink="/recipe/{{recipe.id}}">
                <div class="index">
                    <h2>{{ i + 1 }}</h2>
                    <img [src]="recipe.imageUrl" [alt]="recipe.title">
                </div>
                <div class="recipe-column">
                    <h3>{{ recipe.title }}</h3>
                    <p *ngIf="recipe.servings">Servings for {{ recipe.servings }}</p>
                </div>
                <div class="recipe-column">
                    <p> {{ recipe.prepTime }} minutes to prepare</p>
                    <p *ngIf="recipe.cookTime">{{ recipe.cookTime }} minutes to cook</p>
                </div>
                <div class="recipe-column"  *ngIf="recipe.ratings.length">
                    <star-rating [starRating]="calculateAverageRating(recipe.ratings)"></star-rating>
                    <p>Total of {{ recipe.ratings.length }} {{ recipe.ratings.length === 1 ? 'Rating' : 'Ratings' }} </p>
                </div>
            </a>
        </div>
    </div>
</div>

<app-not-found
 [visible]="user.favoriteRecipes.length <= 0"
 title="Looks like your saved recipes list is empty. Find something delicious to save!"
 imageUrl="https://png.pngtree.com/png-vector/20231019/ourmid/pngtree-recipe-book-illustration-in-minimal-style-png-image_10274588.png"
 >
</app-not-found>
