<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<app-header></app-header>
<div class="main">
    <page-title [title]="pageTitle" *ngIf="recipes.length !== 0"></page-title>
    <app-not-found [visible]="recipes.length === 0"> </app-not-found>
    <div class="container">
        <li *ngFor="let recipe of recipes.slice().reverse().slice(0,recipesShownNumber)">
        <a routerLink="/recipe/{{recipe.id}}">
            <img [src]="recipe.imageUrl" [alt]="recipe.title">
            <p class="tags" *ngFor="let tag of recipe.tags">
                <mat-icon class="material-symbols-outlined">label</mat-icon>{{ tag }}
            </p>
            <div *ngIf="recipe.ratings.length">
                <star-rating [starRatings]="recipe.ratings"></star-rating>
                <p> {{ recipe.ratings.length }} {{ recipe.ratings.length === 1 ? 'Rating' : 'Ratings' }} </p>
            </div>
            <h2> {{ recipe.title }}</h2>
        </a></li>
    </div>
    
    <div class="button-container" *ngIf="recipes.length > recipesShownNumber"> <button class="button-end" (click)="onShowMoreRecipes()">Show More</button> </div>
</div>

<app-swiper [swiperRecipes]="recipes" *ngIf="showSwiper && recipes.length > 0"></app-swiper>

<app-footer></app-footer>


